.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 630px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
  }
}
