.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 25px;
  background-color: #f5f5f5;
}

.botao {
  width: 107px;
  height: 40px;
  border-radius: 8px;
  border: #27ae60 2px solid;
  background-color: #27ae60;
  color: #ffffff;
}

.pesquisa {
  width: 260px;
  height: 34px;
  border: none;
}

.pesquisa {
  border: none;
}

.pesquisa::placeholder {
  padding-left: 15px;
  font-size: 16px;
  color: #e0e0e0;
}

.pesquisa:focus {
  outline: none;
}

.busca {
  padding: 10px;
  border-radius: 8px;
  border: #e0e0e0 solid 2px;
  background-color: #fff;
}

@media (min-width: 900px) {
  .header {
    margin-bottom: 36px;
  }
}
